- if articles.empty?
  %article.blog-post.panel.panel-default
    .panel-body
      .content.text-center
        no content
- articles.each do |article|
  %article.blog-post.panel.panel-default
    .panel-body
      .content
        %h1.article-title
          = article.title
        = markdown article.content
      .text-center
        = link_to 'more', user_article_path(article.user, article), class: 'btn btn-default'
      .datetime.text-right
        = link_to user_articles_path(user_name: article.user.name) do
          = image_tag article.user.image.thumb.url, class: 'img-circle', width: 50, height: 50
        .badge
          = article.created_at
