= form_for article do |f|
  - if article.errors.any?
    = render partial: 'shared_partial/error', locals: { obj: article }
  .form-group
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.text_area :content, rows: 20, class: 'form-control article-editor'
  .actions
    = f.submit "Create", class: 'btn btn-primary'
