.content-body
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            %h1
              = @article.title
            = markdown @article.content
            .datetime.text-right
              = link_to user_articles_path(user_name: @article.user.name) do
                = image_tag @article.user.image.thumb.url, class: 'img-circle', width: 50, height: 50
              = @article.created_at
    .row
      .col-md-12
        .btn-group
          = link_to articles_path, class: 'btn btn-default btn-lg' do
            .glyphicon.glyphicon-arrow-left
            index
          = link_to edit_article_path(@article), class: 'btn btn-default btn-lg' do
            .glyphicon.glyphicon-pencil
            edit
