= form_for user do |f|
  - if user.errors.any?
    = render partial: 'shared_partial/error', locals: { obj: user }
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label :image, "user image"
    = f.hidden_field :image_cache
    = f.file_field :image
  .actions
    = f.submit 'Create', class: 'btn btn-primary'
