= render partial: "shared_partial/jumbotron"
.content-body
  .container
    .row
      .col-md-12
        .form-area
          = form_tag root_path, class: 'form-inline', method: :get do
            .form-group
              = text_field_tag :search, params[:search], class: 'form-control'
            = submit_tag 'Search', class: 'btn btn-primary'
    .row
      .col-md-12
        = render partial: 'shared_partial/article_list', locals: { articles: @articles }
    .row
      .col-md-offset-1.col-md-10
        = paginate @articles
