= render partial: "shared_partial/jumbotron"
.content-body
  .container
    .row
      .col-md-12
        = form_tag root_path, method: :get do
          = text_field_tag :search, params[:search]
          = submit_tag 'Search', :name => nil
    .row
      .col-md-12
        = render partial: 'shared_partial/article_list', locals: { articles: @articles }
    .row
      .col-md-offset-1.col-md-10
        = paginate @articles
