.content-body
  .container
    .row
      .col-md-12
        %article.blog-post.panel.panel-default
          .panel-body
            .content
              %h1
                = @article.title
              = markdown @article.content
              .datetime.text-right
                = link_to user_articles_path(user_name: @article.user.name) do
                  = image_tag @article.user.image.thumb.url, class: 'img-circle', width: 50, height: 50
                = @article.created_at
