!!!
%html
  %head
    %title Tenarai
    = csrf_meta_tags
    = stylesheet_link_tag 'application',
                          'data-turbolinks-track': 'reload',
                          media: 'all'
    = javascript_include_tag 'application',
                             'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ "aria-expanded": "false",
                                           "data-target": "#top-menu",
                                           "data-toggle": "collapse",
                                           type: "button" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "#" } Tenarai
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "Logout", :admin_user_sessions, method: :delete
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.active
              = link_to "Overview", admin_path
            - if current_user
              %li
                = link_to "Edit Profile", edit_admin_user_path(current_user)
              %li
                = link_to "Create Article", admin_articles_path(current_user)
        .col-sm-9.col-md-10.main
          = yield
