!!!
%html
  %head
    %title Tenarai
    = csrf_meta_tags
    = stylesheet_link_tag 'application',
                          'data-turbolinks-track': 'reload',
                          media: 'all'
    = javascript_include_tag 'application',
                             'data-turbolinks-track': 'reload'
  %body
    .tenarai-header
      .container
        %nav.blog-nav
          = link_to 'Home', root_path, class: 'blog-nav-item'
          = link_to 'Members', member_index_path, class: 'blog-nav-item'
          - if current_user
            = link_to "Logout", :user_sessions, action: :delete,
                                                      class: 'navbar-right'
          - else
            = link_to "Signin", :signin, action: :new, class: 'navbar-right'
    = yield
