!!!
%html
  %head
    %title Tenarai
    = csrf_meta_tags
    = stylesheet_link_tag 'application',
                          'data-turbolinks-track': 'reload',
                          media: 'all'
    = javascript_include_tag 'application',
                             'data-turbolinks-track': 'reload'
  %body
    = render partial: "layouts/dashboard_header"
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.active
              = link_to "Overview", dashboard_index_path
            - if current_user
              %li
                = link_to "Edit Profile", edit_user_path(current_user)
              %li
                = link_to "Articles", articles_path(current_user)
        .col-sm-9.col-md-10.main
          = yield
